[defaults]
inventory = inventory/hosts
stdout_callback = default
result_format = yaml
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/cache/minor-project/
host_key_checking = False

[ssh_connection]
pipelining = True
ssh_args = -o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -o StrictHostKeyChecking=no -o ControlPath=/tmp/bastion.sock admission@1.6.33.107"
